body {
  margin: 50px;
}

.participantsList {
  direction: column;
  text-align: center;
  width: 30%;
  background-color: brown;

}

img {
  border-radius: 50%;
  width: 70px;
}

li {
  list-style: none;
}
